<ion-header class="ion-no-border">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button color="light" (click)="navigateToListTab()"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ text.titleText }}</ion-title>
        <ion-buttons slot="primary">
            <ion-button color="light" (click)="saveCreateForm()">{{ text.saveButtonText }}</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-list>
        <form [formGroup]="createForm">
            <ion-item lines="full">
                <ion-label class="label" position="stacked">{{ text.nameText }} *</ion-label>
                <ion-input type="text" formControlName="name"></ion-input>
            </ion-item>
            <div class="ion-label-invalid">
                <small *ngIf="nameRequired">{{ text.requiredText }}</small>
            </div>
            <ion-item lines="full">
                <ion-label class="label" position="stacked">{{ text.usernameText }}</ion-label>
                <ion-textarea formControlName="username" rows="1" [autoGrow]="!!getFormControl(createForm, 'username')" [attr.disabled]="disableComponent"></ion-textarea>
            </ion-item>
            <ion-item lines="full">
                <ion-label class="label" position="stacked">{{ text.passwordText }} *</ion-label>
                <ion-textarea class="gray-text" [class]="passwordClass" formControlName="password" rows="1" [autoGrow]="!!getFormControl(createForm, 'password')" readonly></ion-textarea>
                <ion-buttons class="field-buttons" slot="end">
                    <ion-button *ngIf="!enableEyeIcon" color="primary" (click)="generatePassword()">{{ text.generateText }} </ion-button>
                    <ion-button *ngIf="enableEyeIcon" (click)="regeneratePopover()">
                        <ion-icon [name]="eyeIconName" color="primary"></ion-icon>
                    </ion-button>
                    <ion-button *ngIf="enableSettingsIcon" (click)="changePopover()">
                        <ion-icon name="settings-outline" color="primary"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-item>
            <div class="ion-label-invalid">
                <small *ngIf="passwordRequired">{{ text.requiredText }}</small>
            </div>
            <ion-item lines="full">
                <ion-label class="label" position="stacked">{{ text.uriText }}</ion-label>
                <ion-textarea formControlName="uri" rows="1" [autoGrow]="!!getFormControl(createForm, 'uri')" [attr.disabled]="disableComponent"></ion-textarea>
            </ion-item>
            <ion-item lines="full">
                <ion-label class="label" position="stacked">{{ text.notesText }}</ion-label>
                <ion-textarea formControlName="notes" auto-grow="true"></ion-textarea>
            </ion-item>
            <ion-list-header lines="none">
                <ion-label color="primary">{{ text.someText }}</ion-label>
            </ion-list-header>
            <ion-item lines="full">
                <ion-label class="label">
                    <h2>{{ text.securityText }}</h2>
                    <p class="gray-text">{{ text.validToText }}: {{ passConfig.keyConfig.updatedOn }}</p>
                </ion-label>
                <ion-toggle formControlName="security"></ion-toggle>
            </ion-item>
            <ion-item lines="none">
                <ion-label class="label">{{ text.groupText }}</ion-label>
                <ion-select value="0" ok-text="Aceptar" cancel-text="Cancelar" formControlName="groupId" (ionChange)="updatePassConfigGroup()">
                    <ion-select-option *ngFor="let item of groups" [value]="item.id">{{ item.name }}</ion-select-option>
                </ion-select>
            </ion-item>
        </form>
    </ion-list>
</ion-content>
