<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-buttons *ngIf="show" slot="start">
            <ion-back-button color="light" defaultHref="" (click)="navigateBack()"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ text.titleText }}</ion-title>
        <ion-buttons *ngIf="show" slot="primary">
            <ion-button color="light" (click)="savePassword()">{{ text.selectText }}</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<app-textarea [text]="password" [disabled]="passwordDisabled" [enableCopyIcon]="passwordEnableCopyIcon"
    (copyIconClick)="copyPassword()">
</app-textarea>

<ion-content [fullscreen]="true">
    <form [formGroup]="passwordForm">
        <ion-list-header class="header-background header-min-height">
            <ion-label>{{ text.configText }}</ion-label>
        </ion-list-header>
        <app-password [control]="passwordForm.get('secret')" [labelText]="text.secretText" [required]="secretRequired"
            [minlength]="secretMinLength">
        </app-password>
        <app-input [control]="passwordForm.get('keyword')" [labelText]="text.keywordText" [required]="keywordRequired"
            [minlength]="keywordMinLength" (click)="updatePassword()">
        </app-input>
        <app-toggle [control]="getFormControl('upper')" [labelText]="text.upperText" (changeToggle)="calculateValues()"
            (click)="updatePassword()">
        </app-toggle>
        <app-toggle [control]="getFormControl('lower')" [labelText]="text.lowerText" (changeToggle)="calculateValues()"
            (click)="updatePassword()">
        </app-toggle>
        <app-toggle [control]="getFormControl('number')" [labelText]="text.numberText"
            (changeToggle)="calculateValues()" (click)="updatePassword()">
        </app-toggle>
        <app-toggle [control]="getFormControl('symbol')" [labelText]="text.symbolText"
            (changeToggle)="calculateValues()" (click)="updatePassword()">
        </app-toggle>
        <app-counter [control]="getFormControl('length')" [labelText]="text.lengthText" [disableItem]="disableLength"
            [disableDecrement]="disableLengthDecrement" [disableIncrement]="disableLengthIncrement"
            (decrementButtonClick)="decrementLenght()" (incrementButtonClick)="incrementLenght()"
            (click)="updatePassword()">
        </app-counter>
        <app-counter [control]="getFormControl('minNumbers')" [labelText]="text.minNumbersText"
            [disableItem]="!disableNumbers" [disableDecrement]="disableNumbersDecrement"
            [disableIncrement]="disableNumbersIncrement" (decrementButtonClick)="decrementMinNumbers()"
            (incrementButtonClick)="incrementMinNumbers()" (click)="updatePassword()">
        </app-counter>
        <app-counter [control]="getFormControl('minSymbols')" [labelText]="text.minSymbolsText"
            [disableItem]="!disableSymbols" [disableDecrement]="disableSymbolsDecrement"
            [disableIncrement]="disableSymbolsIncrement" (decrementButtonClick)="decrementMinSymbols()"
            (incrementButtonClick)="incrementMinSymbols()" (click)="updatePassword()">
        </app-counter>
    </form>
</ion-content>

<ion-footer [translucent]="true">
    <ion-toolbar>
        <app-button [text]="text.generateButtonText" (buttonClick)="generateNewPassword()"></app-button>
    </ion-toolbar>
</ion-footer>
