.rotate-90-minus {
    transform: scaleX(-1) rotate(-90deg);
}

.rotate-90-plus {
    transform: scaleX(1) rotate(90deg);
}

.w-28 {
    width: 28px;
}

.header-background {
    background-color: rgb(231, 231, 231);
}

.header-min-height {
    min-height: 35px !important;
}
