<ion-header class="ion-no-border">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button color="light" (click)="navigateToListTab()"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ text.titleText }}</ion-title>
        <ion-buttons slot="primary">
            <ion-button color="light" (click)="actionPopover($event)">
                <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <ion-list>
        <form [formGroup]="editForm">
            <ion-item lines="full">
                <ion-label class="label" position="stacked">{{ text.nameText }}</ion-label>
                <ion-input type="text" formControlName="name" [attr.disabled]="disableComponent"></ion-input>
            </ion-item>
            <div class="ion-label-invalid">
                <small *ngIf="nameRequired">{{ text.requiredText }}</small>
            </div>
            <ion-item lines="full">
                <ion-label class="label" position="stacked">{{ text.usernameText }}</ion-label>
                <ion-input type="text" formControlName="username" [attr.disabled]="disableComponent"></ion-input>
                <ion-buttons class="field-buttons" slot="end">
                    <ion-button (click)="copyUsername()">
                        <ion-icon name="copy-outline" color="primary"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-item>
            <ion-item lines="full">
                <ion-label class="label" position="stacked">{{ text.passwordText }}</ion-label>
                <ion-input [type]="passwordType" [class]="passwordClass" formControlName="password"
                    [attr.disabled]="disableComponent"></ion-input>
                <ion-buttons class="field-buttons" slot="end">
                    <ion-button (click)="regeneratePopover(false)">
                        <ion-icon [name]="eyeIconName" color="primary"></ion-icon>
                    </ion-button>
                    <ion-button (click)="copyPassword()">
                        <ion-icon name="copy-outline" color="primary"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-item>
            <div class="ion-label-invalid">
                <small *ngIf="passwordRequired">{{ text.requiredText }}</small>
            </div>
            <ion-item lines="full">
                <ion-label class="label" position="stacked">{{ text.uriText }}</ion-label>
                <ion-input type="text" formControlName="uri" [attr.disabled]="disableComponent"></ion-input>
                <ion-buttons class="field-buttons" slot="end">
                    <ion-button (click)="openInBrowser()">
                        <ion-icon name="open-outline"color="primary"></ion-icon>
                    </ion-button>
                    <ion-button (click)="copyUri()">
                        <ion-icon name="copy-outline" color="primary"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-item>
            <ion-item lines="full">
                <ion-label class="label" position="stacked">{{ text.notesText }}</ion-label>
                <ion-textarea formControlName="notes" auto-grow="true" [attr.disabled]="disableComponent">
                </ion-textarea>
            </ion-item>
            <ion-item lines="full">
                <ion-label class="label" position="stacked">{{ text.groupText }}</ion-label>
                <ion-input type="text" formControlName="groupName" [attr.disabled]="disableComponent"></ion-input>
            </ion-item>
            <ion-item lines="none">
                <ion-label class="label" position="stacked">{{ text.updatedOnText }}</ion-label>
                <ion-input type="text" formControlName="updatedOn" [attr.disabled]="disableComponent"></ion-input>
            </ion-item>
        </form>
    </ion-list>
</ion-content>
