.label {
    opacity: 1 !important;
}

.field-input {
    letter-spacing: 3px;
}

.sc-ion-buttons-md-s ion-button {
    height: 40px !important;
}

.header-background {
    background-color: rgb(231, 231, 231);
}

.header-min-height {
    min-height: 35px !important;
}

.select-text{
    margin-right: 8px !important;
}
