/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.danger span,
.danger .sc-ion-action-sheet-md {
    color: red !important;
}

.success span,
.success .sc-ion-action-sheet-md {
    color: green;
}

.block-none {
    display: none !important;
}

.ion-label-invalid {
    color: #eb445a !important;
    padding-left: 16px;
}

.sc-ion-textarea-md {
    line-height: 1.35em;
}

.initials {
    position: relative;
    top: 7px;
    font-size: 18px;
    line-height: 14px;
    color: #fff;
    font-weight: bold;
}

.square-a {
    background: rgb(215, 95, 85);
}

.square-b {
    background: rgb(225, 90, 75);
}

.square-c {
    background: rgb(235, 85, 65);
}

.square-d {
    background: rgb(243, 80, 55);
}

.square-e {
    background: rgb(130, 105, 170);
}

.square-f {
    background: rgb(135, 95, 180);
}

.square-g {
    background: rgb(140, 85, 190);
}

.square-h {
    background: rgb(145, 75, 200);
}

.square-i {
    background: rgb(84, 153, 199);
}

.square-j {
    background: rgb(93, 173, 226);
}

.square-k {
    background: rgb(41, 128, 185);
}

.square-l {
    background: rgb(52, 152, 219);
}

.square-m {
    background: rgb(100, 220, 140);
}

.square-n {
    background: rgb(90, 210, 138);
}

.square-ñ {
    background: rgb(80, 200, 136);
}

.square-o {
    background: rgb(60, 190, 134);
}

.square-p {
    background: rgb(50, 180, 132);
}

.square-q {
    background: rgb(40, 170, 130);
}

.square-r {
    background: rgb(30, 160, 128);
}

.square-s {
    background: rgb(20, 150, 126);
}

.square-t {
    background: rgb(244, 208, 63);
}

.square-u {
    background: rgb(241, 196, 15);
}

.square-v {
    background: rgb(245, 176, 65);
}

.square-w {
    background: rgb(243, 156, 18);
}

.square-x {
    background: rgb(235, 152, 78);
}

.square-y {
    background: rgb(230, 126, 34);
}

.square-z {
    background: rgb(230, 119, 23);
}

.square-1 {
    background: rgb(40, 170, 130);
}

.square-2 {
    background: rgb(30, 160, 128);
}

.square-3 {
    background: rgb(20, 150, 126);
}

.square-4 {
    background: rgb(244, 208, 63);
}

.square-5 {
    background: rgb(241, 196, 15);
}

.square-6 {
    background: rgb(245, 176, 65);
}

.square-7 {
    background: rgb(243, 156, 18);
}

.square-8 {
    background: rgb(235, 152, 78);
}

.square-9 {
    background: rgb(230, 126, 34);
}

.square-0 {
    background: rgb(230, 119, 23);
}

.square {
    width: 28px;
    height: 28px;
    text-align: center;
    margin-right: 30px;
    color:white;
}

.warning {
    color: #ffc409 !important;
}

.danger {
    color: #eb445a !important;
}

.readonly-text {
    opacity: 0.4;
}
