/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.danger span,
.danger .sc-ion-action-sheet-md {
    color: red !important;
}

.success span,
.success .sc-ion-action-sheet-md {
    color: green;
}

.block-none {
    display: none !important;
}

.ion-label-invalid {
    color: #eb445a !important;
    padding-left: 16px;
}

.sc-ion-textarea-md {
    line-height: 1.35em;
}

.initials {
    position: relative;
    top: 7px; /* 25% of parent */
    font-size: 18px; /* 50% of parent */
    line-height: 14px; /* 50% of parent */
    color: #fff;
    font-weight: bold;
}

.circle-a {
    width: 28px;
    height: 28px;
    text-align: center;
    margin-right: 30px;
    color:white;
    background: rgb(215, 95, 85);
}

.circle-b {
    width: 28px;
    height: 28px;
    text-align: center;
    margin-right: 30px;
    color:white;
    background: rgb(225, 90, 75);
}

.circle-c {
    width: 28px;
    height: 28px;
    text-align: center;
    margin-right: 30px;
    color:white;
    background: rgb(235, 85, 65);
}

.circle-d {
    width: 28px;
    height: 28px;
    text-align: center;
    margin-right: 30px;
    color:white;
    background: rgb(243, 80, 55);
}

.circle-e {
    width: 28px;
    height: 28px;
    text-align: center;
    margin-right: 30px;
    color:white;
    background: rgb(130, 105, 170);
}

.circle-f {
    width: 28px;
    height: 28px;
    text-align: center;
    margin-right: 30px;
    color:white;
    background: rgb(135, 95, 180);
}

.circle-g {
    width: 28px;
    height: 28px;
    text-align: center;
    margin-right: 30px;
    color:white;
    background: rgb(140, 85, 190);
}

.circle-h {
    width: 28px;
    height: 28px;
    text-align: center;
    margin-right: 30px;
    color:white;
    background: rgb(145, 75, 200);
}

.circle-i {
    width: 28px;
    height: 28px;
    text-align: center;
    margin-right: 30px;
    color:white;
    background: rgb(84, 153, 199);
}

.circle-j {
    width: 28px;
    height: 28px;
    text-align: center;
    margin-right: 30px;
    color:white;
    background: rgb(93, 173, 226);
}

.circle-k {
    width: 28px;
    height: 28px;
    text-align: center;
    margin-right: 30px;
    color:white;
    background: rgb(41, 128, 185);
}

.circle-l {
    width: 28px;
    height: 28px;
    text-align: center;
    margin-right: 30px;
    color:white;
    background: rgb(52, 152, 219);
}

.circle-m {
    width: 28px;
    height: 28px;
    text-align: center;
    margin-right: 30px;
    color:white;
    background: rgb(100, 220, 140);
}

.circle-n {
    width: 28px;
    height: 28px;
    text-align: center;
    margin-right: 30px;
    color:white;
    background: rgb(90, 210, 138);
}

.circle-ñ {
    width: 28px;
    height: 28px;
    text-align: center;
    margin-right: 30px;
    color:white;
    background: rgb(80, 200, 136);
}

.circle-o {
    width: 28px;
    height: 28px;
    text-align: center;
    margin-right: 30px;
    color:white;
    background: rgb(60, 190, 134);
}

.circle-p {
    width: 28px;
    height: 28px;
    text-align: center;
    margin-right: 30px;
    color:white;
    background: rgb(50, 180, 132);
}

.circle-q {
    width: 28px;
    height: 28px;
    text-align: center;
    margin-right: 30px;
    color:white;
    background: rgb(40, 170, 130);
}

.circle-r {
    width: 28px;
    height: 28px;
    text-align: center;
    margin-right: 30px;
    color:white;
    background: rgb(30, 160, 128);
}

.circle-s {
    width: 28px;
    height: 28px;
    text-align: center;
    margin-right: 30px;
    color:white;
    background: rgb(20, 150, 126);
}

.circle-t {
    width: 28px;
    height: 28px;
    text-align: center;
    margin-right: 30px;
    color:white;
    background: rgb(244, 208, 63);
}

.circle-u {
    width: 28px;
    height: 28px;
    text-align: center;
    margin-right: 30px;
    color:white;
    background: rgb(241, 196, 15);
}

.circle-v {
    width: 28px;
    height: 28px;
    text-align: center;
    margin-right: 30px;
    color:white;
    background: rgb(245, 176, 65);
}

.circle-w {
    width: 28px;
    height: 28px;
    text-align: center;
    margin-right: 30px;
    color:white;
    background: rgb(243, 156, 18);
}

.circle-x {
    width: 28px;
    height: 28px;
    text-align: center;
    margin-right: 30px;
    color:white;
    background: rgb(235, 152, 78);
}

.circle-y {
    width: 28px;
    height: 28px;
    text-align: center;
    margin-right: 30px;
    color:white;
    background: rgb(230, 126, 34);
}

.circle-z {
    width: 28px;
    height: 28px;
    text-align: center;
    margin-right: 30px;
    color:white;
    background: rgb(230, 119, 23);
}
